<form [formGroup]="form" (ngSubmit)="submit()">
  <h2 class="text-center">Login as Administrator</h2>

  <div class="inpEmail">
    <label for="email" class="">Email:</label>
    <div>
      <input id="email" type="email" formControlName="email">
    </div>

    <div *ngIf="form.controls['email'].touched  && form.controls['email'].invalid" class="inpEmail-validation">
      <small *ngIf="!form.controls['email'].value">Enter email</small>
    </div>
  </div>


  <div class="inpPass">
    <label for="password">Password:</label>
    <div>
      <input id="password" type="email" formControlName="password">
    </div>

    <div *ngIf="form.controls['password'].touched  && form.controls['password'].invalid" class="inpPass-validation">
      <small *ngIf="!form.controls['password'].value">Enter password</small>
    </div>
  </div>


  <div class="text-center">
    <button type="submit" [disabled]="form.invalid || submitted" class="btn-form">login</button>
  </div>
</form>
