.maine{
  padding: 1rem;
}

.app-dashboard-page {
  width: 100%;
  padding:0.5rem;
  margin-top: 3rem;
}

.app-dashboard-page-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search{
  width: 100%;
  margin-top: 3rem;
}

.search > input {
  width: 100%;
  padding: 0.5rem;
  color: darkblue;
  border: 1px solid blue;
  font-weight: bold;
  border-radius: 0.5rem;
}

.app-dashboard-page-block-info {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type{
  width: 15%;
  font-weight: bold;
}

.price{
  width: 10%;
  font-weight: bold;
}

.date{
  text-align: start;
  width:70%;
  font-size: 1.2rem;
  font-weight: bold;
}

.app-dashboard-page-block-btn {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.app-dashboard-page-block-btn-open {
  width: 4rem;
  background: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: bold;
}

.app-dashboard-page-block-btn-delete {
  width: 5rem;
  background: red;
  color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: bold;
}
