<div *ngIf="product">
  <div class="container app-product-page">
    <div class="app-product-page-btn-block-back">
      <button routerLink="/" class="app-product-page-btn-back">Back</button>
    </div>

    <div class="app-product-page-info-block">
      <div class="app-product-page-info-block-left">
          <h2>{{product.tittle}}</h2>

        <div class="app-product-page-info-block-img">
          <quill-view-html [content]="product?.photo"></quill-view-html>
        </div>

        <div class="app-product-page-info-block-price">
          <h2>price:{{product.price}} $</h2>
          <button [routerLink]="['/cart']" class="app-product-page-info-block-price-btn">Add to cart</button>
        </div>
      </div>


      <div class="app-product-page-info-block-right">
        <div class="app-product-page-info-block-right-tittle">
          <h2>Information:</h2>
        </div>
      </div>
    </div>
  </div>
</div>

