.maine{
  width: 100%;
  padding: 0 2rem;
}

.maine > h2{
  width: 100%;
  margin: 1rem 0 2rem 0;
  color: black;
  font-weight: bold;
}

.app-orders-page, .app-orders-page-block{
  width: 100%;
}

.app-orders-page-block{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.app-orders-page-block-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-block {
  padding: 0.2rem;
}

.app-orders-page-date {
  width: 15%;
  font-weight: bold;
}

.app-orders-page-phone {
  width: 15%;
  font-weight: bold;
}

.app-orders-page-name {
  width: 10%;
  font-weight: bold;
}

.app-orders-page-address {
  width: 15%;
  font-weight: bold;
}

.app-orders-page-tittle {
  width: 100%;
  font-weight: bold;
}

.app-orders-page-price-pp {
  width: 25%;
  font-weight: bold;
}


.app-orders-page-tittle-maine {
  width: 20%;
  font-weight: bold;
}

.app-orders-page-block-btn-delete {
  width: 6rem;
  background: red;
  color: white;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.app-orders-page-block-btn {
  text-align: center;
}
