<nav class="app-admin-layout">
  <h1>
    <a routerLink="/">Shop</a>
  </h1>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Dashboard</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'add']">Add products</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'orders']">Orders</a>
    </li>

    <li routerLinkActive="active">
      <a href="#" (click)="logout($event)">Logout</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'login']">Login</a>
    </li>
  </ul>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
