@import "~quill/dist/quill.snow.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bd-header: black;
  --bd-footer: black;
  --color-header: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-header);
}

a:hover {
  color: rebeccapurple;
}

ul {
  list-style: none;
}

img{
  width: 100%;
}

.text-center{
  display: flex;
  justify-content: center;
}

.container{
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

button{
  cursor: pointer;
}
