<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Add products:</h2>

  <div class="control-block">
    <div><label for="type">Type:</label></div>
    <input id="type" type="type" formControlName="type">
    <div *ngIf="form.controls['type'].touched  && form.controls['type'].invalid" class="inpPass-validation">
      <small *ngIf="!form.controls['type'].value">Chose product type</small>
    </div>
  </div>

  <div  class="control-block">
    <div><label for="tittle">Name:</label></div>
    <input id="tittle" type="tittle" formControlName="tittle">
    <div *ngIf="form.controls['tittle'].touched  && form.controls['tittle'].invalid" class="inpPass-validation">
      <small *ngIf="!form.controls['tittle'].value">Enter name product</small>
    </div>
  </div>

  <div  class="control-block">
    <label for="type">Photo:</label>
    <quill-editor formControlName="photo"></quill-editor>
  </div>

  <div  class="control-block">
    <label for="type">Information:</label>
    <quill-editor formControlName="info"></quill-editor>
  </div>

  <div  class="control-block">
    <div><label for="price">Price:</label></div>
    <input id="price" type="price" formControlName="price">
    <div *ngIf="form.controls['price'].touched  && form.controls['price'].invalid" class="inpPass-validation">
      <small *ngIf="!form.controls['price'].value">Enter product price</small>
    </div>
  </div>

  <div class="btn">
    <button type="submit" [disabled]="form.invalid || submitted" class="btn-form">login</button>
  </div>
</form>
